.works{

padding:100px 8%;

background:#090513;

text-align:center;

}

.works h4{

color:#b43cff;

letter-spacing:2px;

}

.works h2{

color:white;

font-size:48px;

margin-top:15px;

}

.steps{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:40px;

margin-top:70px;
position:relative;
}
.steps::before{

content:"";

position:absolute;

top:45px;

left:13%;

width:74%;

height:2px;

border-top:2px dashed #a855f7;

opacity:.45;

}

.step{

position:relative;
z-index:2;
}

.circle{

width:90px;

height:90px;

margin:auto;

border-radius:50%;

background:#2b124f;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

color:#d15dff;

margin-bottom:20px;

transition:.4s;

}

.circle:hover{

transform:scale(1.1);

box-shadow:0 0 35px #a855f7;

}

.step h3{

color:#b43cff;

margin-bottom:10px;

}

.step h5{

color:white;

font-size:22px;

margin-bottom:12px;

}

.step p{

color:#bdbdbd;

line-height:1.7;

}